@import url("https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbVhFeU1NRnhFejFLMElWT3h3bkZBYWtKclZid3xBQ3Jtc0tuMnNMZElFSTV3MkZWcVR1RDI1VWFST2xONmFZYW10Qm9pTENPUHNuem83Wm9ROXlNdzBaME1YV0dROC1oS2JnY3pFOGZtSGFXRnRxWDNueEJwa1F2UjlzYm53OTM3TWtoNU8wb0xoNkg4eXlzX01oQQ&q=https%3A%2F%2Ffonts.googleapis.com%2Fcss2%3Ffamily%3DPoppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600%26display%3Dswap%27%29%3B&v=-u3vE84Wo_U");

/* reset css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* chỉnh size chữ cho toàn bộ trang web */
html {
  font-size: 62.5%;
}

body {
  width: 100%; /* đảm  bảo body trải dài full chiều ngang trình duyệt */
  min-height: 100vh; /* đảm bảo hiển thị theo kích thước màn hình */
  background: rgba(0, 0, 0, 0.851);
  color: white;
}

.container {
  max-width: 1400px;
  margin: 10px auto;
  overflow-x: hidden; /* ẩn phần nội dung vượt quá chiều ngang container, ngăn thanh cuộn ngang xuất hiện */
}

/* ----------------------------------------------------header------------------------------ */
header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: transparent;  /* dùng để loại bỏ màu nền của header, làm cho background đằng sau lộ ra */
  filter: drop-shadow();
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10; /* z-index càng cao sẽ đè đầu các z-index thấp hơn, đặt 100 đảm bảo header luôn ở phía trước */
}

.contact {
  padding: 15px 30px;
  font-size: 15px;
  transition: 0.3s ease;
  z-index: 1;
}
.contact:hover {
  box-shadow: 0 0.6em 0.5em -0.4em #a6ff00;
  transform: translateY(-0.25em);
  background: #a6ff00;
}
.bar {
  display: none;
  font-size: 30px;
  color: #a6ff00;
  cursor: pointer;
}

/* :root {} dùng để linh hoạt sử dụng biến trong đây, sử dụng var() để gọi biến */
:root {
  --primary-gradient: linear-gradient(128deg, #a6ff00 0%, #e9630a 50%, #ff3333 100%);
  --hover-gradient: linear-gradient(128deg, #8bc408 0%, #d15a08 50%, #ff6666 100%);
  --text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  --font-size-large: clamp(4rem, 12vw, 6rem); /* clamp(min, preferred, max) dùng để linh hoạt kích thước khi user sử dụng trang web qua máy tính, điện thoại hoặc ipad */
}

/* @media (điều kiện) {kiểu dáng} */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-gradient: linear-gradient(128deg, #b9f70e 0%, #ec7f2c 50%, #ff8080 100%);
    --hover-gradient: linear-gradient(128deg, #b3f10e 0%, #ff9933 50%, #ff9999 100%);
  }
}

.logo {
  user-select: none; /* để khi double click không bị tô xanh */
  font-size: var(--font-size-large);
  font-weight: 900;
  cursor:default;
  background: var(--primary-gradient);
  color: transparent; /* khiến văn bản trong suốt, cho phép màu gradient hiện lên qua các chữ cái. */
  background-clip: text; /* làm cho màu gradient chỉ áp dụng cho phần văn bản của logo, không phải toàn bộ nền. */
  text-shadow: var(--text-shadow);
  transition: transform 0.3s ease, text-shadow 1s ease;
  transform-origin: left;
  animation: fadeInLogo 1s ease-out;
}
.logo:hover {
  transform: perspective(1000px) rotateY(10deg) scale(1.05);
  text-shadow: 0 4px 8px rgba(95, 210, 19, 0.5);
}

/* định hình animation, cụ thể là animation fadeInLogo */
@keyframes fadeInLogo {

  /* khi vừa vào trang, logo sẽ hiện mờ nhất và xuất hiện ở tọa độ thấp hơn 20px */
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6e2d0824;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  list-style: none;
  border-radius: 40px;
  width: 400px;
  height: 50px;
  gap: 25px;
  transition: 0.5s ease;
}
nav ul:hover {
  border: 1px solid #a6ff00;
  box-shadow: rgba(156, 226, 5, 0.4) 0px 2px 4px, rgba(172, 249, 5, 0.3) 0px 7px 13px -3px, rgba(181, 249, 7, 0.2) 0px -3px 0px inset;
}



ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 50px 50px 30px 30px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition:  0.3s ease;
}
ul li a:hover {
  width: 120px;
  background-color: #a6ff00;
  color: black;
}
ul li a span {
  position: absolute;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.3s ease;
  font-size: 15px;
  font-weight: 700;
}
ul li a:hover span {
  transform: translateY(0px);
  opacity: 1;
}
ul li a i {
  font-size: 15px;
  transition: 0.3s ease;
}
ul li a:hover i {
  transform: translateY(-20px);
  opacity: 0;
}

.button {
  background-color: white;
  border: none;
  border-radius: 1000px; /* độ bo góc */
  cursor: pointer;
  color: black;
  overflow: hidden;
  z-index: 1;
}



.button span {
  font-weight: 600; /* độ đậm nhạt của chữ */
}

/* -----------------------------------------------------main------------------------------------------------- */

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.Khiet {
  margin-right: 70px;
  border-radius: 50px;
  background-color: #64e90511;
  box-shadow: 
    -10px -10px 30px rgb(75, 83, 63),
     10px  10px 30px rgba(174, 174, 192, 0.4);
  width: 500px;
  height: fit-content;
  user-select: none;
  transition: 0.3s ease;
  z-index: 100;
}
.Khiet:hover {
  filter: drop-shadow(1px 1px 20px #eeff00);
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 0.5px;
}
.home_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
  margin-left: 70px;
}

.home_content h1 {
  font-size: 6rem;
}

.home_content h1 span {
  color:#a6ff00;
}

.content2 {
  color: #e3f44b;
  font-size: 2rem;
  font-weight: 100;
  font-style: oblique;
}

.description {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.description p {
  line-height: 20px;
  font-weight: 5;
  font-size: 15px;
  max-width: 600px; /* giới hạn khung chữ */
  overflow-x: hidden;
  text-overflow: ellipsis; /* Nếu nội dung bị cắt sẽ tự thêm dấu ... */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.button_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.readMore {
  display: flex;
  position: relative;
  border: 2px solid #a6ff00;
  background-color: transparent;
  color:#a6ff00;
  z-index: 1;
  gap: 5px;
  padding: 12px 25px;
  font-size: 20px;
}

.start {
  padding: 12px 25px;
  font-size: 20px;
}
.start:hover {
  background: #039c00;
  background: linear-gradient(90deg, rgba(3, 156, 0, 1) 0%, rgba(170, 255, 0, 1) 100%);
  border: none;
  transform: translateY(-4px);
  transition: 0.3s ease;
  box-shadow: 0 4px 15px rgba(255,0, 102,0);
}

.readMore::before {
  border: linear-gradient(90deg, rgba(3, 156, 0, 1) 0%, rgba(170, 255, 0, 1) 100%);;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background:#a6ff00;
  transition: width 0.3s ease;
  border-radius: 1000px;
  z-index: -1;
  
}

.readMore:hover::before {
  width: 100%;
  color: black;
  background:#a6ff00;
  z-index: -1;
}

.readMore:hover {
  color: black;
  border-color: #262626;
  transition: color 0.3s ease, border-color 0.15s ease;
}

.features {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  cursor: pointer;
}
.feature {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #d7e4b526;
  backdrop-filter: blur(2px);
  font-size: 15px;
  height: fit-content;
  min-width: 250px;
  border-radius: 15px;
  padding: 20px;
  gap: 15px;
  flex: 1;
  transition: 0.3s ease;
  border: 1px solid #d7e4b526;
  margin: 15px 0px 0px 15px;
}
.feature:hover {
  border: 1px solid #a6ff00;
  box-shadow: rgba(156, 226, 5, 0.4) 0px 2px 4px, rgba(172, 249, 5, 0.3) 0px 7px 13px -3px, rgba(181, 249, 7, 0.2) 0px -3px 0px inset;
}

.feature i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #abff02cf;
  border-radius: 50px;
  font-size: 25px;
  width: 50px;
  height: 50px;
  padding: 5px;
  transition: 0.5s ease;
}
.feature:hover i {
  background: #039c00;
  background: linear-gradient(90deg, rgba(3, 156, 0, 1) 0%, rgba(170, 255, 0, 1) 100%);
  transform: rotate(360deg);
}

/* -------------------------------------------------------footer--------------------------------------------------------------------- */

footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.092);
}
.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  border-color: #a6ff00;
}
.social-icon a{
  background-color: #fafafa;
  margin: 20px;
  text-decoration: none;
  padding: 15px;
  padding-block: 15px;
  border-radius: 50%;
  transition: background 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}
.social-icon a i {
  color: black;
  font-size: 15px;
}
.social-icon a:hover i {
  color: white;
}
.social-icon .github:hover {
  background: #238636;
  border-radius: 28%;
}
.social-icon .instagram:hover {
  background: linear-gradient(60deg, rgba(249, 206, 52, 1) 0%, rgba(238, 42, 123, 1) 50%, rgba(98, 40, 215, 1) 100%);
  border-radius: 28%;
}
.social-icon .facebook:hover {
  background:#0866fe;
  border-radius: 28%;
  }
.social-icon .twitter:hover {
  background:black;
  border-radius: 28%;
  }
.copyright {
  font-size: 15px;
}

@media only screen and (max-width: 1450px) {
  main {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  main .Khiet {
    
    margin-right: 0px;
  }
  main .home_content {
    margin-left: 0px;
  }
  .button_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .container header nav,
  .container header button {
    display: none;
  }
  .container header .bar {
    display: block;
  }
}

@media only screen and (max-width: 560px) {
  .Khiet {
    width: 300px;
    height: fit-content;
  }
  .description {
    display: none;
  }
  .introduction {
    text-align: center;
  }
  .feature {
    margin: 15px 15px 0px 15px;
  }
}

@media only screen and (max-width: 360px) {
  .Khiet {
    width: 150px;
    height: auto;
  }
}

/* @media only screen and (max-width: 160px) {
  .Khiet {
    width: 100px;
    height: fit-content;
  }
} */